  ## Gradient Boosted Tree

In [44]:
import pandas as pd
from path import Path
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
from flask import Flask
from flask_sqlalchemy import SQLAlchemy
from os import environ
from sqlalchemy import create_engine
from collections import Counter
# Create flask to connect database 
app = Flask(__name__)
app.config['SQLALCHEMY_TRACK_MODIFICATIONS'] = True
engine = create_engine("postgresql://June:Covid19*@covid19-readiness.cwom5umbekrh.us-west-1.rds.amazonaws.com/SPA_data")
# Create dataframe from PostgreSQL
df = pd.read_sql_table('combined_data_cleaned',con=engine)

In [45]:
df.drop(['region_name'], axis=1, inplace=True)
df.drop(['region_code'], axis=1, inplace=True)
df.drop(['region'], axis=1, inplace=True)
df.drop(['numberbeds'], axis=1, inplace=True)
df.head()

,index,facil,country,latnum,longnum,factype,mga,ftype,factype2,ownership,...,eye_protect,preparedness,tbservice,quality,inpatient,total_full,cumulative_cases,cumulative_deaths,preparedness2,prep2
0,0,11135,BAN,25.096353,89.619072,8,1,2,2,1,...,0,0.181818,0.0,0.0,0.0,3.0,377073,5500,0.25,0
1,1,11600,BAN,25.145923,89.935113,12,3,2,2,2,...,1,1.000000,0.0,0.0,0.0,22.0,377073,5500,1.00,1
2,2,11599,BAN,25.015608,90.014368,12,3,1,2,2,...,1,1.000000,0.0,1.0,1.0,12.0,377073,5500,1.00,1
3,3,11598,BAN,24.716940,90.953117,12,3,2,2,2,...,1,1.000000,0.0,0.0,0.0,6.0,377073,5500,1.00,1
4,4,11597,BAN,24.739533,90.527265,12,3,2,2,2,...,0,0.727273,1.0,0.0,0.0,9.0,377073,5500,0.50,0

In [46]:
# df2 = pd.DataFrame(df, columns=["country", "ownership", "ftype", "prep2", "quality", "inpatient", "st_precautions", "total_full", "tbservice", "water_source"])
df2 = pd.DataFrame(df, columns=["prep2", "country", "ownership", "ftype", "quality", "inpatient", "st_precautions", "tbservice", "water_source"])
df2.head()

,prep2,country,ownership,ftype,quality,inpatient,st_precautions,tbservice,water_source
0,0,BAN,1,2,0.0,0.0,0,0.0,0
1,1,BAN,2,2,0.0,0.0,1,0.0,1
2,1,BAN,2,1,1.0,1.0,1,0.0,1
3,1,BAN,2,2,0.0,0.0,1,0.0,1
4,0,BAN,2,2,0.0,0.0,1,1.0,1

In [47]:
/df2.dropna(inplace=True)
df2.head()

,prep2,country,ownership,ftype,quality,inpatient,st_precautions,tbservice,water_source
0,0,BAN,1,2,0.0,0.0,0,0.0,0
1,1,BAN,2,2,0.0,0.0,1,0.0,1
2,1,BAN,2,1,1.0,1.0,1,0.0,1
3,1,BAN,2,2,0.0,0.0,1,0.0,1
4,0,BAN,2,2,0.0,0.0,1,1.0,1

In [48]:
# Count NAs for each columns
[[column,df2[column].isnull().sum()] for column in df2.columns]

[['prep2', 0],
 ['country', 0],
 ['ownership', 0],
 ['ftype', 0],
 ['quality', 0],
 ['inpatient', 0],
 ['st_precautions', 0],
 ['tbservice', 0],
 ['water_source', 0]]

In [49]:
df2['country'] = le.fit_transform(df2['country'])

In [50]:
# Define features set
X = df2.copy()
X = X.drop("prep2", axis=1)
X.head()

,country,ownership,ftype,quality,inpatient,st_precautions,tbservice,water_source
0,0,1,2,0.0,0.0,0,0.0,0
1,0,2,2,0.0,0.0,1,0.0,1
2,0,2,1,1.0,1.0,1,0.0,1
3,0,2,2,0.0,0.0,1,0.0,1
4,0,2,2,0.0,0.0,1,1.0,1

In [51]:
# Define target vector
y = df2["prep2"].values

In [52]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
# Splitting into Train and Test sets
X_train, X_test, y_train, y_test = train_test_split(X,
                                                    y,
                                                    random_state=1)

In [53]:
## SMOTE Oversampling
from imblearn.over_sampling import SMOTE
X_resampled, y_resampled = SMOTE(random_state=1).fit_resample(
    X_train, y_train
)
Counter(y_resampled)

Counter({0: 3075, 1: 3075})

In [54]:
# Creating StandardScaler instance
scaler = StandardScaler()

# Fitting Standard Scaler
X_scaler = scaler.fit(X_resampled)

# Scaling data
X_train_scaled = X_scaler.transform(X_resampled)
X_test_scaled = X_scaler.transform(X_test)

  ### Choose best learning rate

In [55]:
from sklearn.ensemble import GradientBoostingClassifier

# Create a classifier object
learning_rates = [0.05, 0.1, 0.25, 0.5, 0.75, 1]
for learning_rate in learning_rates:
    classifier = GradientBoostingClassifier(n_estimators=20,
                                            learning_rate=learning_rate,
                                            max_features=4,
                                            max_depth=3,
                                            random_state=0)

    # Fit the model
    classifier.fit(X_train_scaled, y_resampled)
    print("Learning rate: ", learning_rate)

    # Score the model
    print("Accuracy score (training): {0:.3f}".format(
        classifier.score(
            X_train_scaled,
            y_resampled)))
    print("Accuracy score (validation): {0:.3f}".format(
        classifier.score(
            X_test_scaled,
            y_test)))
    print()

Learning rate:  0.05
Accuracy score (training): 0.740
Accuracy score (validation): 0.751

Learning rate:  0.1
Accuracy score (training): 0.753
Accuracy score (validation): 0.779

Learning rate:  0.25
Accuracy score (training): 0.766
Accuracy score (validation): 0.740

Learning rate:  0.5
Accuracy score (training): 0.789
Accuracy score (validation): 0.739

Learning rate:  0.75
Accuracy score (training): 0.801
Accuracy score (validation): 0.775

Learning rate:  1
Accuracy score (training): 0.806
Accuracy score (validation): 0.776

  ### Create Gradient Boosting Classifier

In [56]:
# Choose a learning rate and create classifier
classifier = GradientBoostingClassifier(n_estimators=20,
                                        learning_rate=0.5,
                                        max_features=4,
                                        max_depth=3,
                                        random_state=0)

# Fit the model
classifier.fit(X_train_scaled, y_resampled)

# Make Prediction
predictions = classifier.predict(X_test_scaled)
pd.DataFrame({"Prediction": predictions, "Actual": y_test}).head(20)

    Prediction  Actual
0            0       0
1            0       0
2            0       0
3            0       0
4            0       0
5            0       0
6            0       0
7            1       0
8            0       0
9            1       0
10           0       0
11           1       0
12           0       0
13           1       0
14           1       0
15           0       0
16           0       0
17           1       0
18           0       0
19           0       0

  ### Evaluate the model

In [57]:
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
# Calculating the accuracy score
acc_score = accuracy_score(y_test, predictions)
print(f"Accuracy Score : {acc_score}")

Accuracy Score : 0.7387717690192483

In [58]:
# Generate the confusion matrix
cm = confusion_matrix(y_test, predictions)
cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"],
    columns=["Predicted 0", "Predicted 1"]
)

# Displaying results
display(cm_df)

          Predicted 0  Predicted 1
Actual 0          767          268
Actual 1           17           39

In [59]:
# Generate classification report
print("Classification Report")
print(classification_report(y_test, predictions))

Classification Report
              precision    recall  f1-score   support

           0       0.98      0.74      0.84      1035
           1       0.13      0.70      0.21        56

    accuracy                           0.74      1091
   macro avg       0.55      0.72      0.53      1091
weighted avg       0.93      0.74      0.81      1091