## Classifications with Logistic Regression

In [530]:
from path import Path
import pandas as pd
import numpy as np
import scipy as scy
import sklearn
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
from sklearn.preprocessing import StandardScaler
data_scaler = StandardScaler()
from sklearn import tree
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
from sklearn.datasets import make_blobs
from collections import Counter

In [531]:
import matplotlib.pyplot as plt
%matplotlib inline
from flask import Flask
from flask_sqlalchemy import SQLAlchemy
from os import environ
from sqlalchemy import create_engine
# Create flask to connect database 
app = Flask(__name__)
app.config['SQLALCHEMY_TRACK_MODIFICATIONS'] = True
engine = create_engine("postgresql://June:Covid19*@covid19-readiness.cwom5umbekrh.us-west-1.rds.amazonaws.com/SPA_data")
# Create dataframe from PostgreSQL
df = pd.read_sql_table('combined_data_cleaned',con=engine)

In [532]:
df.drop(['region_name'], axis=1, inplace=True)
df.drop(['region_code'], axis=1, inplace=True)
df.drop(['region'], axis=1, inplace=True)
df.drop(['numberbeds'], axis=1, inplace=True)
df.head()

,index,facil,country,latnum,longnum,factype,mga,ftype,factype2,ownership,...,eye_protect,preparedness,tbservice,quality,inpatient,total_full,cumulative_cases,cumulative_deaths,preparedness2,prep2
0,0,11135,BAN,25.096353,89.619072,8,1,2,2,1,...,0,0.181818,0.0,0.0,0.0,3.0,377073,5500,0.25,0
1,1,11600,BAN,25.145923,89.935113,12,3,2,2,2,...,1,1.000000,0.0,0.0,0.0,22.0,377073,5500,1.00,1
2,2,11599,BAN,25.015608,90.014368,12,3,1,2,2,...,1,1.000000,0.0,1.0,1.0,12.0,377073,5500,1.00,1
3,3,11598,BAN,24.716940,90.953117,12,3,2,2,2,...,1,1.000000,0.0,0.0,0.0,6.0,377073,5500,1.00,1
4,4,11597,BAN,24.739533,90.527265,12,3,2,2,2,...,0,0.727273,1.0,0.0,0.0,9.0,377073,5500,0.50,0

In [533]:
# Check the datatypes
df.dtypes

index                  int64
facil                  int64
country               object
latnum               float64
longnum              float64
factype                int64
mga                    int64
ftype                  int64
factype2               int64
ownership              int64
water_source           int64
sterilization          int64
equip_hld              int64
guidelines_hld         int64
soapwater              int64
disinfectant           int64
st_precautions         int64
latexgloves            int64
medicalmasks           int64
gowns                  int64
eye_protect            int64
preparedness         float64
tbservice            float64
quality              float64
inpatient            float64
total_full           float64
cumulative_cases       int64
cumulative_deaths      int64
preparedness2        float64
prep2                  int64
dtype: object

In [534]:
# df2 = pd.DataFrame(df, columns=["country", "ownership", "ftype", "prep2", "quality", "inpatient", "st_precautions", "total_full", "tbservice", "water_source"])
df2 = pd.DataFrame(df, columns=["prep2", "country", "ownership", "ftype", "quality", "inpatient", "st_precautions", "tbservice", "water_source"])
df2.head()

,prep2,country,ownership,ftype,quality,inpatient,st_precautions,tbservice,water_source
0,0,BAN,1,2,0.0,0.0,0,0.0,0
1,1,BAN,2,2,0.0,0.0,1,0.0,1
2,1,BAN,2,1,1.0,1.0,1,0.0,1
3,1,BAN,2,2,0.0,0.0,1,0.0,1
4,0,BAN,2,2,0.0,0.0,1,1.0,1

In [535]:
df2.dropna(inplace=True)
df2.head()

,prep2,country,ownership,ftype,quality,inpatient,st_precautions,tbservice,water_source
0,0,BAN,1,2,0.0,0.0,0,0.0,0
1,1,BAN,2,2,0.0,0.0,1,0.0,1
2,1,BAN,2,1,1.0,1.0,1,0.0,1
3,1,BAN,2,2,0.0,0.0,1,0.0,1
4,0,BAN,2,2,0.0,0.0,1,1.0,1

In [536]:
# Count NAs for each columns
[[column,df2[column].isnull().sum()] for column in df2.columns]

[['prep2', 0],
 ['country', 0],
 ['ownership', 0],
 ['ftype', 0],
 ['quality', 0],
 ['inpatient', 0],
 ['st_precautions', 0],
 ['tbservice', 0],
 ['water_source', 0]]

In [537]:
df2['prep2'].value_counts()

0    4110
1     251
Name: prep2, dtype: int64

In [538]:
df2['country'] = le.fit_transform(df2['country'])

## Scale the data

In [539]:
# Creating the scaler instance
from sklearn.preprocessing import StandardScaler
ss = StandardScaler()

In [540]:
df_scaled = pd.DataFrame(ss.fit_transform(df2),columns = df2.columns)

In [541]:
df_scaled

,prep2,country,ownership,ftype,quality,inpatient,st_precautions,tbservice,water_source
0,-0.247125,-1.095849,-0.726289,0.628549,-0.910647,-0.840743,-0.549001,-1.314928,-1.229085
1,4.046542,-1.095849,1.376862,0.628549,-0.910647,-0.840743,1.821489,-1.314928,0.813613
2,4.046542,-1.095849,1.376862,-1.590966,1.098120,1.189424,1.821489,-1.314928,0.813613
3,4.046542,-1.095849,1.376862,0.628549,-0.910647,-0.840743,1.821489,-1.314928,0.813613
4,-0.247125,-1.095849,1.376862,0.628549,-0.910647,-0.840743,1.821489,0.760498,0.813613
...,...,...,...,...,...,...,...,...,...
4356,-0.247125,1.926282,1.376862,-1.590966,-0.910647,-0.840743,-0.549001,0.760498,0.813613
4357,-0.247125,1.926282,1.376862,-1.590966,-0.910647,-0.840743,-0.549001,-1.314928,-1.229085
4358,-0.247125,1.926282,1.376862,-1.590966,-0.910647,1.189424,-0.549001,0.760498,0.813613
4359,-0.247125,1.926282,1.376862,-1.590966,-0.910647,1.189424,-0.549001,0.760498,0.813613
4360,-0.247125,1.926282,-0.726289,-1.590966,1.098120,1.189424,-0.549001,0.760498,0.813613

In [542]:
df_scaled.astype({'prep2': 'int64'}).dtypes

prep2               int64
country           float64
ownership         float64
ftype             float64
quality           float64
inpatient         float64
st_precautions    float64
tbservice         float64
water_source      float64
dtype: object

In [543]:
df_scaled

,prep2,country,ownership,ftype,quality,inpatient,st_precautions,tbservice,water_source
0,-0.247125,-1.095849,-0.726289,0.628549,-0.910647,-0.840743,-0.549001,-1.314928,-1.229085
1,4.046542,-1.095849,1.376862,0.628549,-0.910647,-0.840743,1.821489,-1.314928,0.813613
2,4.046542,-1.095849,1.376862,-1.590966,1.098120,1.189424,1.821489,-1.314928,0.813613
3,4.046542,-1.095849,1.376862,0.628549,-0.910647,-0.840743,1.821489,-1.314928,0.813613
4,-0.247125,-1.095849,1.376862,0.628549,-0.910647,-0.840743,1.821489,0.760498,0.813613
...,...,...,...,...,...,...,...,...,...
4356,-0.247125,1.926282,1.376862,-1.590966,-0.910647,-0.840743,-0.549001,0.760498,0.813613
4357,-0.247125,1.926282,1.376862,-1.590966,-0.910647,-0.840743,-0.549001,-1.314928,-1.229085
4358,-0.247125,1.926282,1.376862,-1.590966,-0.910647,1.189424,-0.549001,0.760498,0.813613
4359,-0.247125,1.926282,1.376862,-1.590966,-0.910647,1.189424,-0.549001,0.760498,0.813613
4360,-0.247125,1.926282,-0.726289,-1.590966,1.098120,1.189424,-0.549001,0.760498,0.813613

In [544]:
y = df2["prep2"].values
X = df2.drop(columns="prep2")

### Split our data into training and testing

In [545]:
# Splitting into Train and Test sets.
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

## SMOTE Oversampling

In [546]:
from imblearn.over_sampling import SMOTE
X_resampled, y_resampled = SMOTE(random_state=1).fit_resample(
    X_train, y_train
)
Counter(y_resampled)

Counter({0: 3075, 1: 3075})

In [547]:
# # Use the SMOTEENN technique to perform combination sampling on the data
# # Count the resampled classes
# from imblearn.combine import SMOTEENN

# smote_enn = SMOTEENN(random_state=0)
# X_resampled, y_resampled = smote_enn.fit_resample(X, y)
# Counter(y_resampled)

In [548]:
model = LogisticRegression(solver='lbfgs', random_state=1)
model.fit(X_resampled, y_resampled)

LogisticRegression(random_state=1)

In [549]:
# Calculated the balanced accuracy score
from sklearn.metrics import balanced_accuracy_score
y_pred = model.predict(X_test)
balanced_accuracy_score(y_test, y_pred)

0.7392512077294686

In [550]:
# Print the imbalanced classification report
from imblearn.metrics import classification_report_imbalanced
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

          0       0.98      0.73      0.75      0.84      0.74      0.55      1035
          1       0.13      0.75      0.73      0.22      0.74      0.55        56

avg / total       0.94      0.73      0.75      0.80      0.74      0.55      1091