## Support Vector Machines (SVM)

In [115]:
from path import Path
import pandas as pd
import numpy as np
import scipy as scy
import sklearn
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
from sklearn.preprocessing import StandardScaler
data_scaler = StandardScaler()
from sklearn import tree
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
from sklearn.datasets import make_blobs
from collections import Counter

In [116]:
import matplotlib.pyplot as plt
%matplotlib inline
from flask import Flask
from flask_sqlalchemy import SQLAlchemy
from os import environ
from sqlalchemy import create_engine
# Create flask to connect database 
app = Flask(__name__)
app.config['SQLALCHEMY_TRACK_MODIFICATIONS'] = True
engine = create_engine("postgresql://June:Covid19*@covid19-readiness.cwom5umbekrh.us-west-1.rds.amazonaws.com/SPA_data")
# Create dataframe from PostgreSQL
df = pd.read_sql_table('combined_data_cleaned',con=engine)

In [117]:
df.head()# Check the datatypes
df.dtypes

index                  int64
facil                  int64
country               object
region                object
region_code            int64
region_name           object
latnum               float64
longnum              float64
factype                int64
mga                    int64
ftype                  int64
factype2               int64
ownership              int64
water_source           int64
sterilization          int64
equip_hld              int64
guidelines_hld         int64
soapwater              int64
disinfectant           int64
st_precautions         int64
latexgloves            int64
medicalmasks           int64
gowns                  int64
eye_protect            int64
preparedness         float64
tbservice            float64
quality              float64
inpatient            float64
numberbeds           float64
total_full           float64
cumulative_cases       int64
cumulative_deaths      int64
preparedness2        float64
prep2                  int64
dtype: object

In [118]:
df.drop(['region_name'], axis=1, inplace=True)
df.drop(['region_code'], axis=1, inplace=True)
df.drop(['region'], axis=1, inplace=True)
df.drop(['numberbeds'], axis=1, inplace=True)
df.head()

,index,facil,country,latnum,longnum,factype,mga,ftype,factype2,ownership,...,eye_protect,preparedness,tbservice,quality,inpatient,total_full,cumulative_cases,cumulative_deaths,preparedness2,prep2
0,0,11135,BAN,25.096353,89.619072,8,1,2,2,1,...,0,0.181818,0.0,0.0,0.0,3.0,377073,5500,0.25,0
1,1,11600,BAN,25.145923,89.935113,12,3,2,2,2,...,1,1.000000,0.0,0.0,0.0,22.0,377073,5500,1.00,1
2,2,11599,BAN,25.015608,90.014368,12,3,1,2,2,...,1,1.000000,0.0,1.0,1.0,12.0,377073,5500,1.00,1
3,3,11598,BAN,24.716940,90.953117,12,3,2,2,2,...,1,1.000000,0.0,0.0,0.0,6.0,377073,5500,1.00,1
4,4,11597,BAN,24.739533,90.527265,12,3,2,2,2,...,0,0.727273,1.0,0.0,0.0,9.0,377073,5500,0.50,0

In [119]:
# df2 = pd.DataFrame(df, columns=["country", "ownership", "ftype", "prep2", "quality", "inpatient", "st_precautions", "total_full", "tbservice", "water_source"])
df2 = pd.DataFrame(df, columns=["prep2", "country", "ownership", "ftype", "quality", "inpatient", "st_precautions", "tbservice", "water_source"])
df2.head()

,prep2,country,ownership,ftype,quality,inpatient,st_precautions,tbservice,water_source
0,0,BAN,1,2,0.0,0.0,0,0.0,0
1,1,BAN,2,2,0.0,0.0,1,0.0,1
2,1,BAN,2,1,1.0,1.0,1,0.0,1
3,1,BAN,2,2,0.0,0.0,1,0.0,1
4,0,BAN,2,2,0.0,0.0,1,1.0,1

In [120]:
df2.dropna(inplace=True)
df2.head()

,prep2,country,ownership,ftype,quality,inpatient,st_precautions,tbservice,water_source
0,0,BAN,1,2,0.0,0.0,0,0.0,0
1,1,BAN,2,2,0.0,0.0,1,0.0,1
2,1,BAN,2,1,1.0,1.0,1,0.0,1
3,1,BAN,2,2,0.0,0.0,1,0.0,1
4,0,BAN,2,2,0.0,0.0,1,1.0,1

In [121]:
# Count NAs for each columns
[[column,df2[column].isnull().sum()] for column in df2.columns]

[['prep2', 0],
 ['country', 0],
 ['ownership', 0],
 ['ftype', 0],
 ['quality', 0],
 ['inpatient', 0],
 ['st_precautions', 0],
 ['tbservice', 0],
 ['water_source', 0]]

In [122]:
df2['prep2'].value_counts()

0    4110
1     251
Name: prep2, dtype: int64

In [123]:
df2['country'] = le.fit_transform(df2['country'])

In [124]:
# y = df2["prep2"].values
# X = df2.drop(columns="prep2")

## Scale the data

In [125]:
# # Creating the scaler instance
# from sklearn.preprocessing import StandardScaler
# ss = StandardScaler()

In [126]:
# df_scaled = pd.DataFrame(ss.fit_transform(df2),columns = df2.columns)

In [127]:
# df_scaled

In [128]:
# df_scaled.astype({'prep2': 'int64'}).dtypes

In [129]:
# df_scaled

In [130]:
y = df2["prep2"].values
X = df2.drop(columns="prep2")

### Split our data into training and testing

In [131]:
# Splitting into Train and Test sets.
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

## SMOTE Oversampling

In [132]:
from imblearn.over_sampling import SMOTE
X_resampled, y_resampled = SMOTE(random_state=1).fit_resample(
    X_train, y_train
)
Counter(y_resampled)

Counter({0: 3075, 1: 3075})

In [133]:
# model = LogisticRegression(solver='lbfgs', random_state=1)
# model.fit(X_resampled, y_resampled)

In [134]:
# # Calculated the balanced accuracy score
# from sklearn.metrics import balanced_accuracy_score
# y_pred = model.predict(X_test)
# balanced_accuracy_score(y_test, y_pred)

In [135]:
# # Print the imbalanced classification report
# from imblearn.metrics import classification_report_imbalanced
# print(classification_report_imbalanced(y_test, y_pred))

 ## Create a SVM Model

In [136]:
# Instantiate a linear SVM model
from sklearn.svm import SVC
model = SVC(kernel='linear')

 ## Fit (train) or model using the training data

In [137]:
# Fit the data
model.fit(X_resampled, y_resampled)

SVC(kernel='linear')

 ## Score the model using the test data

 ## Make predictions

In [138]:
# Make predictions using the test data
y_pred = model.predict(X_test)
results = pd.DataFrame({
    "Prediction": y_pred, 
    "Actual": y_test
}).reset_index(drop=True)
results.head()

   Prediction  Actual
0           1       0
1           0       0
2           0       0
3           0       0
4           0       0

In [139]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

0.7882676443629697

 # Generate Confusion Matrix

In [140]:
    from sklearn.metrics import confusion_matrix
    confusion_matrix(y_test, y_pred)

array([[823, 212],
       [ 19,  37]], dtype=int64)

 # Generate Classification Report

In [141]:
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.98      0.80      0.88      1035
           1       0.15      0.66      0.24        56

    accuracy                           0.79      1091
   macro avg       0.56      0.73      0.56      1091
weighted avg       0.93      0.79      0.84      1091