In [1]:
from path import Path
import pandas as pd
import numpy as np
import scipy as scy
import sklearn
import pandas as pd 
from path import Path
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
from sklearn.preprocessing import StandardScaler
data_scaler = StandardScaler()
from sklearn import tree
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

In [3]:
data = Path('Combined_gps.csv')
df = pd.read_csv(data, usecols = ["Country", "ownership", "REGION", "Factype2", "prep2"])
df.head()

  Country  REGION  Factype2  ownership  prep2
0     SEN       1         1          1    0.0
1     SEN       1         1          2    1.0
2     SEN       1         1          2    1.0
3     SEN       1         1          2    NaN
4     SEN       1         1          2    1.0

In [29]:
df = df.dropna(axis=0, how="any")

In [30]:
df2 = df
df2 = df.copy()
df2['Country'] = le.fit_transform(df2['Country'])

In [31]:
df2.head()

   Country  REGION  Factype2  ownership  prep2
0        3       1         1          1    0.0
1        3       1         1          2    1.0
2        3       1         1          2    1.0
4        3       1         1          2    1.0
8        3       1         1          2    1.0

In [32]:
y = df2["prep2"].values
X = df2.drop(columns="prep2")

### Split our data into training and testing

In [33]:
# Splitting into Train and Test sets.
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=20)

# Creating a StandardScaler instance.
scaler = StandardScaler()
# Fitting the Standard Scaler with the training data.
X_scaler = scaler.fit(X_train)

# Scaling the data.
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [34]:
X_train.shape

(3241, 4)

In [35]:
df2

      Country  REGION  Factype2  ownership  prep2
0           3       1         1          1    0.0
1           3       1         1          2    1.0
2           3       1         1          2    1.0
4           3       1         1          2    1.0
8           3       1         1          2    1.0
...       ...     ...       ...        ...    ...
4524        2       1         2          2    0.0
4525        2       2         2          2    0.0
4526        2       1         2          2    1.0
4527        2       6         2          2    0.0
4528        2       2         2          2    1.0

[4322 rows x 5 columns]

In [36]:
pd.isna(df2['prep2'])

0       False
1       False
2       False
4       False
8       False
        ...
4524    False
4525    False
4526    False
4527    False
4528    False
Name: prep2, Length: 4322, dtype: bool

In [37]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    random_state=1, 
                                                    stratify=y)
X_train.shape

(3241, 4)

 ## Create a Logistic Regression Model

In [40]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(solver='lbfgs',
                                max_iter=200,
                                random_state=1)

 ## Fit (train) or model using the training data

In [41]:
classifier.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=200,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=1, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

 ## Make predictions

In [44]:
y_pred = classifier.predict(X_test)
results = pd.DataFrame({"Prediction": y_pred, "Actual": y_test}).reset_index(drop=True)
results.head(20)

    Prediction  Actual
0          0.0     0.0
1          0.0     0.0
2          0.0     0.0
3          0.0     0.0
4          0.0     0.0
5          0.0     1.0
6          0.0     0.0
7          0.0     0.0
8          0.0     1.0
9          0.0     1.0
10         0.0     1.0
11         1.0     1.0
12         0.0     1.0
13         0.0     0.0
14         0.0     0.0
15         0.0     0.0
16         0.0     0.0
17         0.0     1.0
18         0.0     0.0
19         1.0     1.0

In [46]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, y_pred))

0.7548566142460684

## Confusion matrix

In [49]:
from sklearn.metrics import confusion_matrix, classification_report

In [50]:
matrix = confusion_matrix(y_test, y_pred)
print(matrix)

[[804  11]
 [254  12]]

In [51]:
report = classification_report(y_test, y_pred)
print(report)

              precision    recall  f1-score   support

         0.0       0.76      0.99      0.86       815
         1.0       0.52      0.05      0.08       266

    accuracy                           0.75      1081
   macro avg       0.64      0.52      0.47      1081
weighted avg       0.70      0.75      0.67      1081