## Predicting infection control preparedness

In [1]:
from path import Path
import pandas as pd
import numpy as np
import scipy as scy
import sklearn
import pandas as pd 
from path import Path
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
from sklearn.preprocessing import StandardScaler
data_scaler = StandardScaler()
from sklearn import tree
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

In [2]:
data = Path('Combined_prep2.csv')
df = pd.read_csv(data, usecols = ["Country", "ownership", "REGION", "Factype2", "prep2"])
df.head()

  Country  REGION  Factype2  ownership  prep2
0     BAN       1         2          1    0.0
1     BAN       1         2          1    0.0
2     BAN       1         2          1    0.0
3     BAN       1         2          1    0.0
4     BAN       1         2          1    1.0

### rate the Features (X) from the Target (y)

In [4]:
df

     Country  REGION  Factype2  ownership  prep2
0        BAN       1         2          1    0.0
1        BAN       1         2          1    0.0
2        BAN       1         2          1    0.0
3        BAN       1         2          1    0.0
4        BAN       1         2          1    1.0
...      ...     ...       ...        ...    ...
4506     SEN      12         2          1    0.0
4507     SEN      12         2          1    0.0
4508     SEN      13         2          1    1.0
4509     SEN      12         2          1    1.0
4510     SEN      13         2          1    0.0

[4511 rows x 5 columns]

In [5]:
df2 = df.copy()
df2['Country'] = le.fit_transform(df2['Country'])

In [6]:
df2.head()

   Country  REGION  Factype2  ownership  prep2
0        0       1         2          1    0.0
1        0       1         2          1    0.0
2        0       1         2          1    0.0
3        0       1         2          1    0.0
4        0       1         2          1    1.0

In [7]:
y = df2["prep2"].values
X = df2.drop(columns="prep2")

### Split our data into training and testing

In [8]:
# Splitting into Train and Test sets.
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=20)

# Creating a StandardScaler instance.
scaler = StandardScaler()
# Fitting the Standard Scaler with the training data.
X_scaler = scaler.fit(X_train)

# Scaling the data.
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [9]:
X_train.shape

(3383, 4)

In [11]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X,y,random_state=1)
X_train.shape

(3383, 4)

### Create a Logistic Regression Model

In [12]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(solver='lbfgs',
                                max_iter=200,
                                random_state=1)